<!DOCTYPE html>
<html  {{ site.language_attributes }}>
    <head>
        {% block head %}
            <title>{{ site.title }}</title>
        {% endblock %}
        {{ function('wp_head') }}
    </head>

    <body>
        <div id="page">

            <header>
                <div class="logo">
                    <img src="{{ theme_uri }}/assets/img/v.png" alt="Véronique Delauney" title="Véronique Delauney" />
                    <div class="logotype">
                        Développement Web <span class="purple">&</span> Graphisme
                    </div>
                </div>		
            </header>    

            <main>
                {% block content %}
                {% endblock %}
            </main>

            <footer>
                {% block footer %}
                    <p>Brought to you with ❤ by the Timber.</p>
                {% endblock %}
                {{ function('wp_footer') }}
            </footer>
        </div>
    </body>


   
<script>
    var mySwiper = new Swiper('.swiper-container', {
    loop: true,
    speed: 1000,
    autoplay: {
        delay: 3000,
    },
    effect: 'coverflow',
    grabCursor: true,
    centeredSlides: true,
    slidesPerView: 'auto',
    coverflowEffect: {
        rotate: 0,
        stretch: 80,
        depth: 200,
        modifier: 1,
        slideShadows: false,
    },

    // Navigation arrows
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },

})
</script>


</html>