<div class="left">
    <div class="group">
        <div>
            <p>
                <strong>{{ site_options.nom_complet }}</strong><br>
                Développement Web & Graphisme<br>
               
            </p>
        </div>
        <div>
            <a href="#porfolio" alt="Portfolio" title="Portfolio">Portfolio</a>
            <a href="#a-propos" alt="A propos" title="A propos">A propos</a>
            <a href="#competences" alt="Compétences" title="Compétences">Compétences</a>
            <a href="#services" alt="Services" title="Services">Services</a>
            <a href="#contact" alt="Contact" title="Me contacter">Contact</a>
        </div>
    </div>
</div>

<div class="right">
    <div class="group">
        <div>
            <img src="{{ theme_uri }}/assets/img/v.webp" alt="{{ site_options.nom_complet }}" title="{{ site_options.nom_complet }}" />
        </div>
        <div>
            {{ site_options.copyright }}
        </div>
</div>