<div class="left">
    <div class="group">
        <div>
            <p>
                <strong>{{ site_options.nom_complet }}</strong><br>
                Développement Web & Graphisme               
            </p>
        </div>
        <div>
            <a href="#porfolio" title="Portfolio">Portfolio</a>
            <a href="#a-propos" title="A propos">A propos</a>
            <a href="#competences" title="Compétences">Compétences</a>
            <a href="#services" title="Services">Services</a>
            <a href="#contact" title="Me contacter">Contact</a>
        </div>
    </div>
</div>

<div class="right">
    <div class="group">
        <div>
            <img src="{{ theme_uri }}/assets/img/v.webp" alt="{{ site_options.nom_complet }}" title="{{ site_options.nom_complet }}" />
        </div>
        <div>
            {{ site_options.copyright }}
        </div>
    </div>
</div>